<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Lambda name="Lambda">
            <JSONLayout compact="true" eventEol="true" locationInfo="true"/>
        </Lambda>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Lambda"/>
        </Root>
    </Loggers>
</Configuration>